<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<header>
    <nav class="nav-bar">
        
        <ul >
            <li ><a  href="blog">Profile</a></li>
            <li ><a  href="blog">Help</a></li>
            <li id="companyName"><a href="blog">BLOG WEBSITE</a></li>
        </ul>
        
        
    </nav>
</header>
<body>

